@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

html, body {
  background-color: #252422;
}

.nav-container {
  background-color: #EB5E28;
  color: #FFFCF2;
  height: 80px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.nav-main {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-main h1 {
  font-size: 36px;
}

.contact-link {
  cursor: pointer;
}

.form-container {
  padding: 40px 20px;
}

.card-form {
  background-color: #403D39;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 20px;
}

.form-control {
  margin-bottom: 20px;
}

.form-control label {
  display: none;
}

.form-input {
  height: 50px;
  width: 100%;
  border-radius: 4px;
  padding: 0 20px;
  font-size: 14px;
  border: 0;
}

.form-input::placeholder {
  color: #c9c9c9;
}

.form-input:disabled {
  background-color: #ddd;
}

.error-message {
  margin-top: 5px;
  color: #f6aa8c;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 250px;
  height: 50px;
  background-color: #EB5E28;
  color: #FFFCF2;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
}

.btn:nth-child(even) {
  margin-left: 20px;
}

.list-container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-list-item {
  background-color: #403D39;
  color: #fff;
  margin-bottom: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 8px;
  padding: 20px;
}

.card-list-item h3 {
  color: #EB5E28;
  font-size: 18px;
}

.address-line {
  font-size: 14px;
}

.address-cep {
  font-size: 12px;
  color: #CCC5B9;
}

